<% @title = "Reset Password" %>

<span style="font-size:1.33em;"><%= content_tag(:h2, @title) unless params[:popup] %></span>

<br/>
<span style="font-size:1.17em;">Enter the email address you signed up with, and we will send you a new password.</span>
<br/><br/>

<div class="popup_form" style="font-size:1.17em;">
<% form_tag params.slice(:popup).merge(:action=>:reset_password), :class => 'entry_form' do -%>
	<div class="form_field leftalign">
		<%= label_tag 'email' %>
  	<%= text_field_tag 'email' %>
	</div>

	<div class="submit" style="margin-left: 140px">
		<%= submit_button 'Reset Password' %>
	</div>
<% end -%>
</div>
<br/><br/>
