<script type="text/javascript">window.opener.location.reload()</script>
<script type="text/javascript">setTimeout("window.close()", 3000)</script>
<div style="margin:30px"> Reloading your mynews page .... </div>
<div style="margin:30px"> (This popup will close automatically after 3 seconds) </div>
