<%- @title = "About Us" -%>
<div class="span-16 white_box" style="margin-top:0px;">
	<div class="top"></div>
	<div class="wrapper">
		<div class="interior_content" style="font-size:1.17em;line-height:1.25em;">
			<h2>Our Team</h2>
      Please fill out this page
			<p><strong>For more info, <%= mail_to "info@newstrust.net", "email us", :subject => 'NewsTrust info request', :encode => "javascript" %>.</strong></p>
		</div>
	</div>
	<div class="bottom"></div>
</div>

