<script type="text/javascript">window.opener.location.reload()</script>
<script type="text/javascript">setTimeout("window.close()", 5000)</script>
<div style="margin:30px"> 
Reloading the parent window.
If you were on the MyNews page and were trying to follow your Twitter NewsFeed, please try again
now that your Twitter and <%=app_name%> accounts are connected.
</div>
<div style="margin:30px"> (This popup will close automatically after 5 seconds) </div>
