<div class="span-16 white_box" style="margin-top:0px;">
  <div class="top"></div>
  <div class="wrapper">
    <div class="interior_content" style="font-size:1.17em;line-height:1.25em;">
      <h2>Reviewing Guides</h2>
<p>
This SocialNews code base is an open source version of the <%= link_to "NewsTrust.net", "http://newstrust.net", :target => "_blank"%> platform. 
To find out more about NewsTrust, <%= link_to "visit their site", "http://newstrust.net", :target => "_blank"%>. 
</p><p>
To inquire about their consulting services, email NewsTrust at <%= mail_to "partners@newstrust.net", "partners@newstrust.net", :encode => "javascript" %>.
</p><p>
Here is a link to <%= link_to "NewsTrust's reviewing guides", "http://newstrust.net/guides", :target => "_blank" %>.
    </div>
  </div>
  <div class="bottom"></div>
</div>
