<% @title = "RSS Feeds" %>
<style type="text/css">
<!--
img.rss_img {
margin: 4px 2px 3px 0;vertical-align:middle;}
-->
</style>
<div class="span-20" style="margin-top:0px;width:900px">
	<div class="wrapper">
		<div class="interior_content" style="font-size:1.17em;line-height:1.25em;">
			<h2>RSS Feeds</h2><br>
			<span class="body_black">RSS stands for "Really Simple Syndication" - it's an XML-based format for distributing and gathering content from many sources across the Web, such as newspapers, TV networks or blogs.<br>
			<br>
			We offer a variety of RSS feeds (e.g. Top Stories), which you can read using any RSS reader. To subscribe to any of our RSS Feeds, simply copy and paste its link below into your RSS reader.<br>
			<br>
			Our RSS Feeds feature updated listings of our top-rated stories, along with links to the full stories and our review forms. We also offer RSS feeds for each topic on our site. Look for the orange icons on our <a href="/topics/">topic pages</a>.<br>
			<br>
			For listings of available RSS feed readers, <a href="http://www.google.com/search?q=RSS+feed+reader" target="_blank">click here</a>. For more information about RSS, <a href="http://en.wikipedia.org/wiki/RSS_%28file_format%29" target="_blank">click here</a>.</span>
		<div style="font-size:12px;margin-top:12px;">
		</div>
		<div class="column span-18" style="margin-top:18px;">
<span class="body_black">Please give us <%= mail_to email_addr("feedback"), "your feedback", :subject => 'RSS Feedback', :encode => "javascript" %> on our RSS feeds and how we might improve them. Our RSS feeds are free of charge for non-commercial use by individuals and non-profit organizations. Attribution (included in each feed) is required.</span>
		</div>
	</div>
</div>
<div class="bottom"></div>
