<script type="text/javascript">
var guest_badge_image_urls   = ["http://add-signup-badge-url-here"];
var guest_badge_target_urls  = ["<%=espace.eb_arg.blank? ? '/members/new' : espace.eb_arg %>"];
var member_badge_image_urls  = ["http://add-quick-guide-badge-url-here"];
var member_badge_target_urls = ["/guides/how-to-review"];
var active_member_badge_image_urls  = ["http://add-quick-guide-badge-url-here"];
var active_member_badge_target_urls = ["/guides/how-to-review"];
</script>

<div> 
  <img src="/images/ui/spacer.gif" height="1" width="300">
</div>
<div class="rotating_badge_div" style="width:295px;height:104px;">
  <a href=""><img src="/images/ui/spacer.gif" width="295" height="104"></a>
</div>
