<%- opts = {:local_site => @local_site} %>
<%- recent_reviews = Review.recent_reviews(3, opts) -%>

<div class="stage_right recent_reviews right_column_box span-8">
 <div class="top"></div>
 <div class="wrapper">
  <div class="header"><h3 class="bottom">Recent Reviews</h3></div>
  <div class="content">
  <ul>
  <%- recent_reviews.each do |r| -%>
    <li>
    <%= render :partial => "stories/story", :object => r.story, :locals => {:no_li_wrapper => true, :see_reviews_msg => "Reviews &raquo;", :hide_flags => {:quote => true, :submitted_by => true, :authors => true, :favicons => true, :story_date => true, :type => true, :no_rating => true, :reviews => true}, :show_flags => {:starred => true, :gray_trustometer => true, :row2_reviews => false, :reviews_btn => true}} %>
    <div class="review_attribution">

    Last reviewed by <%= link_to_member(r.member) %>
    </div>
    </li>
  <%- end -%>
  </ul>
  <div style="font-weight:bold"><%=link_to "More Recent Reviews &raquo;", :controller => "stories", :action => "index", :listing_type => "recent_reviews"%></div>
  </div>
 </div>
 <div class="bottom"></div>
</div>
