<%- unless @followers.empty? -%>
  <%- @followers_activity_entries.each_with_index do |ae, i| -%>
    <% m = @followers[i] -%>
    <% if ae.blank? -%>
      <%= render :partial => 'activity_entry', :locals => { :obj => nil, :netfriend => m, :updated_at => nil, :my_page => @my_page } %>
    <% else -%>
      <%= render :partial => 'activity_entry', :locals => { :obj => @followers_activity_hash[ae.activity_type][ae.activity_id], :netfriend => m, :updated_at => ae.updated_at, :my_page => @my_page } %>
    <% end -%>
  <% end -%>
<% else -%>
  <h3>There are no followers yet.</h3>
<% end -%>
