<div class="span-14 white_box_small" style="margin-top:0px;">
	<div class="top"></div>
	<div class="wrapper">
		<div class="interior_content" style="font-size:1.17em;line-height:1.25em;">
      <%- wrap_inside_welcome_page_template do -%>
      <%- end -%>
		</div>
	</div>
	<div class="bottom"></div>
</div>

<div class="right_column_box_wide span-10 last">
  <div class="top"></div>
  <div class="wrapper interior_content">
		<h2>Sign Up</h2>
    <%- wrap_inside_landing_page_template do -%>
    <%= render :partial => 'new' %>
    <%- end -%>
  </div>
  <div class="bottom"></div>
</div>
