<style>
 * { font-size: 15px; }
</style>

<h2> Comparison of story rating distributions between sources</h2>

<div id="distribution" style="float:left;width:500px;height:250px"></div>
<div id="legend" style="float:left;"></div>

<script type="text/javascript" src="/js/jquery/jquery.flot.pack.js"> </script>
<script type="text/javascript">
  var srcs = <%= @sources.collect { |s| s.name }.to_json %>;
  var opts = { legend : { container: $("#legend") } }
<%- @flot_data_array.each_with_index do |da,i| -%>
  var d_<%=i%> = <%=da.to_json%>;
<%- end -%>
  var data = [];
  for (i = 0; i < <%=@sources.length%>; i++)
    data[i] = { data: eval("d_" + i), label: "" + srcs[i], lines: { show: true, fill: false } }
  $.plot($("#distribution"), data, opts)
</script>
</div>
